header{
    margin:0;
    background-color: hsl(193, 100%, 96%);
    background-image: url('./images/bg-hero-desktop.svg');
}


header nav, header section, main section, footer div{
    display: grid;
}
header nav{
    padding: 5%;
    grid-template-columns: 40% 30%;
    column-gap: 30%;
}
header nav button{
    max-height: 50px;
    border-radius: 20px;
    padding: 2% 15%;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 8px 1px hsl(208, 11%, 55%);
    font-weight:bolder;
    color: black;
    justify-self: end;
    
}

header section{
    margin: 5%;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    padding-bottom: 5% ;
    
}
header button, main button{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    padding: 2% 8%;
    border-radius: 20px;
}
header h1{
    font-size: 250%;
    font-weight: 600;
}

header section img, header nav img, main section img, footer img{
    width: 100%;

}
main section article, header section article{
    padding: 25% 0 ;
}
main{
    margin: 5% 10% 0;
}

main section{
    margin: 5% 0;
    grid-template-columns: 40% 50%;
    column-gap: 10%;
    padding: 5% ;
    background-color: white;
    box-shadow: 2px -2px 5px 2px rgba(245, 241, 241, 0.897);
    border-radius: 15px;
}

main section:nth-child(2){
    grid-template-columns: 50% 40%;
}

main  nav{
    text-align: center;
    width: 45%;
    margin: auto auto;
    background-color: white;
    padding: 2% 0;
    border-radius: 10px;
    position: relative;
    top:50px;
    box-shadow: 0px -2px 2px 1px rgba(245, 241, 241, 0.897);
    
    
}
footer div{
    margin: 0;
    grid-template-columns: repeat(4, 20%);
    column-gap: 10%;
    padding: 10% ;
    padding-bottom: 5%;
    color: white;
    background-color: hsl(192, 100%, 9%);  
}

footer small{
    grid-column: 1/5;
    text-align: right;
}
header,main, footer{
    font-size: 18px;
    font-family: Open Sans;

}
h1{
    font-family: Poppins;
}

footer div svg{
    grid-column: 1/5;
    width: 100%;
    fill: white ;
    text-align: right;
}

@media screen and (max-width:550px){

    header{
        margin:0;
        background-color: hsl(193, 100%, 96%);
        background-image: url('./images/bg-hero-mobile.svg');
    }

    header section,main section{
        margin: 5%;
        grid-template-columns: 100% !important;
        padding:0 5% 5% ;
        text-align: center;
        
    }
    main section img{
        grid-row: 1;
    }
    header nav{
        padding: 5%;
        max-height: 60px;
        grid-template-columns: 50% 30%;
        column-gap: 20%;
    }
   

}
